@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
main{
    background-image: url(../img/snow_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    min-height: 30%;
    text-align: center;
}
h1{
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 5px;
}
p{
    font-family: 'Figtree', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}
.countdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #305C70;
}
.countdown > div{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0;
    box-shadow: 0 4px 8px;
}
.countdown p{
    color: #305C70;
    margin-bottom: 0;
}
.countdown h2{
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}
img{
    max-width: 100%;
}
.snowman, .santa{
    display: none;
}

@media (min-width: 1025px){
    h1{
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 70px;
    }
    .countdown{
        flex-direction: row;
    }
    .countdown > div{
        padding: 40px;
    }
    .snowman{
        display: block;
        position: absolute;
        width: 30%;
    }
    .santa{
        display: block;
        position: relative;
        left: 60%;
        width: 30%;
    }
}